<main>
    <table class="secondary">
           <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{rollno}}</td>
                <td>{{firstName}} {{lastName}}</td>
                <td>{{age}}</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Jane Smith</td>
                <td>25</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Sam Brown</td>
                <td>22</td>
            </tr>
    </table>
</main>